body {
font-family: 'Roboto', sans-serif;
  color: #4885ed;
  font-weight:bold;
}

h1 {
font-family:font-family: 'Roboto', sans-serif;
font-size: 25px;
color: #4885ed;
font-weight:bold;
}

.head {
text-align: center;
border: 1px lightgrey solid;
}

#headimg {
text-align: center;
width: 50px;
height: 50px;
}

.main {
margin:auto;
text-align: center;
margin-top:25px;
width: 448px;
height: 521px;
border: 1px lightgrey solid;
border-radius: 8px;
}

#loginimg {
width: 100px;
height: 100px;
}

input[type="text"] {
margin-left: auto;
margin-right: auto;
margin-top:25px;
font-family: 'Roboto', sans-serif;
width: 338px;
height: 50px;
border: 1px lightgrey solid;
border-radius: 8px;
}

input[type="password"] {
margin-left: auto;
margin-right: auto;
margin-top:25px;
font-family: 'Roboto', sans-serif;
width: 338px;
height: 50px;
border: 1px lightgrey solid;
border-radius: 8px;
}

.checkremember {
  position: relative;
  cursor: pointer;
  color: #4885ed;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

.button {
 cursor: pointer;
  margin-top: 5px;
  margin-right: 20px;
  font-family: 'Roboto', sans-serif;
  color: #4885ed;
  font-weight:bold;
  background-color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.icons{
  width: 24px;
    height: 24px;
}