body {
text-align: center;
color: lightgrey;
}

.head {
position: relative;
margin-left: auto;
margin-right: auto;
border: 1px lightgrey solid;
}

#headimg {
text-align: center;
width: 50px;
height: 50px;
}

.main {
margin-left: auto;
margin-right: auto;
margin-top:123px;
width: 448px;
height: 521px;
border: 1px lightgrey solid;
border-radius: 8px;
}

#loginimg {
width: 100px;
height: 100px;
}

.loginemail {
margin-left: auto;
margin-right: auto;
margin-top:25px;
width: 338px;
height: 70px;
border: 1px lightgrey solid;
border-radius: 8px;
}

.loginpw {
margin-left: auto;
margin-right: auto;
margin-top:25px;
width: 338px;
height: 70px;
border: 1px lightgrey solid;
border-radius: 8px;
}

#button {
  margin-top: 30px;
  margin-right: 20px;
  background-color: blue;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

a {
color: white;
}